@font-face {
    font-family: "MCSeven";
    src: url("./fonts/MinecraftSeven.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MCTen";
    src: url("./fonts/MinecraftTen.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
