@import url("./fonts.css");
@import url("./theme.css");


*, body {
  border-radius: var(--radius);
}

body {
  font-family: var(--font);
}

.btn-soft {
  border: var(--border) solid;
  border-bottom: var(--border-bottom) solid;
}

.title {
  font-family: var(--font-title);
}

.btn-primary {
  border: var(--border) solid var(--color-primary);
  border-bottom: var(--border-bottom) solid var(--color-primary);
}
